:root {
  --primary-color: #000;
  --secondary-color: #b2b3b5;
}

/* Base Styling */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navigation */
nav {
  background: #000;
}

nav a {
  color: #fff;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 20px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.main-nav .logo {
  margin-left: 20px;
  font-weight: 700;
  font-size: 2rem;
}

.main-nav .logo:hover {
  color: white;
  text-decoration: none;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-menu,
.right-menu {
  padding-top: 15px;
}

.main-menu li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.5s;
}

.main-menu li a:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.main-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.right-menu li a {
  margin-right: 15px;
}

.right-menu ul li a:hover {
  border-bottom: none;
}

/* Anncounement Bar */
.announcement-bar {
  background-color: var(--secondary-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement-text {
  padding: 5px 0;
  text-transform: uppercase;
  margin: 0;
}

/* Landing Page */
.landing-page {
  display: flex;
}

.hero-image-1 {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero-image-1.png") no-repeat center center/cover;
  height: 1100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image-2 {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero-image-2.png") no-repeat center center/cover;
  height: 1100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.btn:hover {
  color: #fff;
}

/* Carousel Section*/
.carousel-item {
  /* height: 100vh; */
  overflow-y: hiden;
}

.carousel-item img {
  height: 800px;
}

.carousel-caption {
  position: absolute;
  top: 40%;
  width: 100%;
  right: 0;
  left: 0;
}

.carousel-caption .btn-carousel:hover {
  cursor: pointer;
  color: #fff;
}

.carousel-caption .btn-carousel:focus,
.carousel-caption .btn-carousel:active {
  outline: none;
}

/* Support Section */
.support-section {
  height: 100vh;
}

.support-image {
  background: url("/images/support-image.png") no-repeat center center/cover;
  height: 100vh;
}

/* Footer */

.footer {
  height: 450px;
  width: 100vw;
  background: var(--primary-color);
  display: flex;
  text-align: center;
  align-items: center;
  color: #fff;
}

.footer-content {
  width: 100%;
  margin-top: 5px;
}

.footer-content h3 {
  font-size: 1.4rem;
}

.footer-content p {
  font-size: 1rem;
  color: #dcdcdc;
  font-weight: none;
}

.input-text {
  background: #fff;
  color: #000;
  padding: 10px;
  width: 300px;
}

.btn-submit {
  color: #fff;
  background: #7fcee6;
  padding: 10px 20px;
}
